/* Remove the broder and background for the high scores button and make the text color purple */
#view-highscores {
    border: none;
    background: none;
    color: rebeccapurple;
    font-size: 20px;
}

/* Put the timer on the right on the same line as the view highscores button */
#time-left {
    float: right;
    font-size: 20px;
}

/* Styling for divs that are displayed in main */
.displayed-section {
    /* Center the elements */
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

/* Make the start button have a purple background color and white text */
#start-quiz {
    background: rebeccapurple;
    color: white;
    font-size: 20px;
    /* round the button corners */
    border-radius: 10px;
}

/* Initially hide all divs that aren't the first section */
.subsequent-sections {
    display: none;
}

/* Set the styling for the quiz question */
#quiz-question {
    font-size: 20px;
    font-weight: bold;
}

/* Styling for the displayed answer choices */
.answer-choice {
    text-align: left;
    background-color: rebeccapurple;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    color: white;
    border-radius: 5px;
    /* Make the div no larger than its contents */
    width: fit-content;
}

/* Change the opacity and cursor when hovering over a choice */
.answer-choice:hover {
    opacity: 50%;
    cursor: pointer;
}

/* Styling for the answer feedback text */
#answer-feedback-text {
    color: gray;
    text-align: left;
    font-style: italic;
}

/* Styling for the line separating the answer choice and the feedback */
hr {
    color: gray;
}

/* Styling for the final score message */
#final-score-message {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Styling for the buttons in the main element */
.main-button {
    background: rebeccapurple;
    color: white;
    /* round the button corners */
    border-radius: 2px;
}

/* Put the form on the left hand side of the enclosing div */
form {
    float: left;
}

/* Styling for the high score entries */
.high-score-entry {
    text-align: left;
}

/* Add some space between the high scores and buttons below them */
#high-scores {
    margin-bottom: 5px;
}